.ui-beauty-checkbox {
  background: url(../images/checkbox.png) no-repeat center;
}
.ui-beauty-checkbox-checked {
  background: url(../images/checkbox-checked.png) no-repeat center;
}
.ui-beauty-checkbox-disabled {
  background: url(../images/checkbox-disabled.png) no-repeat center;
}
.ui-beauty-checkbox-checked.ui-beauty-checkbox-disabled {
  background: url(../images/checkbox-disabled-checked.png) no-repeat center;
}
