.ui-beautify-choice {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}

.ui-beautify-choice > input {
  width: 100%;
  height: 100%;
  outline: 0 none;
  margin: 0;
  padding: 0;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}

:root .ui-beautify-choice > input {
  -ms-filter: none;
  filter: none;
}

.ui-beautify-choice-disabled > input {
  cursor: not-allowed;
}
