.ui-beautify-select-hidden {
  position: absolute;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: -1;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}

:root .ui-beautify-select-hidden {
  -ms-filter: none;
  filter: none;
}

.ui-beautify-select {
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 0;
  padding: 0 24px 0 6px;
  outline: 0 none;
  text-align: left;
  border: 1px solid #ccc;
  font-size: 0;
  letter-spacing: 0;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #fff;
}

.ui-beautify-select-titlebox {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-size: 0;
  letter-spacing: 0;
  -webkit-text-size-adjust: none;
  width: 100%;
  height: 100%;
}

.ui-beautify-select-focus {
  z-index: 2147483647;
  border: 1px solid #09e;
}

.ui-beautify-select-title,
.ui-beautify-select-align-middle {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}

.ui-beautify-select-align-middle {
  width: 0;
  height: 100%;
}

.ui-beautify-select-title {
  width: 100%;
  cursor: default;
  margin: 0;
  padding: 0;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ui-beautify-select-disabled .ui-beautify-select-title {
  color: #e6e6e6;
  cursor: not-allowed;
}

.ui-beautify-select-icon {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  right: 4px;
  margin-top: -8px;
  background: url(../images/select.png) no-repeat center;
}

.ui-beautify-select-disabled .ui-beautify-select-icon {
  cursor: not-allowed;
  background: url(../images/select-disabled.png) no-repeat center;
}

.ui-beautify-select-opened .ui-beautify-select-icon {
  background: url(../images/select-opened.png) no-repeat center;
}

.ui-beautify-select-disabled.ui-beautify-select-opened .ui-beautify-select-icon {
  background: url(../images/select-opened-disabled.png) no-repeat center;
}

.ui-beautify-select-dropdown {
  position: absolute;
  left: 0;
  padding: 0;
  border: 1px solid #09e;
  max-height: 252px;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0 none;
  font-size: 13px;
  list-style: none;
  background: #fff;
  margin: 0 0 0 -1px;
}

.ui-beautify-select-dropdown-top {
  margin-top: 0;
}

.ui-beautify-select-dropdown-bottom {
  margin-top: -2px;
}

.ui-beautify-select-dropdown-items {
  margin: 0;
  padding: 0;
}

.ui-beautify-select-optgroup,
.ui-beautify-select-option {
  height: 16px;
  line-height: 16px;
  white-space: nowrap;
  outline: 0 none;
  margin: 0;
  padding: 6px;
  cursor: pointer;
  color: #333;
  background: #fff;
  text-align: left;
}

.ui-beautify-select-optgroup-option {
  padding-left: 20px;
}

.ui-beautify-select-optgroup {
  color: #000;
  cursor: default;
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
}

.ui-beautify-select-option:hover {
  background: #eee;
}

.ui-beautify-select-option:focus {
  outline: 0 none;
}

.ui-beautify-select-option-selected,
.ui-beautify-select-option-selected:hover {
  color: #fff;
  background: #3870f3;
}

.ui-beautify-select-option-disabled,
.ui-beautify-select-option-disabled:hover {
  color: #e6e6e6;
  cursor: default;
}
